$color-1: rgb(50, 49, 49);
$color-2: rgb(255, 254, 254);
$color-3: #4f036d;
$color-4: #9f013b;
$color-5: #167ac2;

$verdana: Verdana, Geneva, Tahoma, sans-serif;
$size-0: 0;
$size-1: 1rem;
$size-2: 2rem;
$size-3: 3rem;
$size-4: 4rem;
$size-5: 5rem;

/* cicli */
@for $i from 1 through 10 {
  .width-#{$i} {
    width: calc($i * 20px);
  }
}
@for $i from 1 through 5 {
  .px-#{$i} {
    padding-block: calc($i * 0.5rem);
  }
}
@for $i from 1 through 5 {
  .py-#{$i} {
    padding-inline: calc($i * 0.5rem);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
main {
  text-align: center;
  color: $color-1;
}
header {
  background-image: linear-gradient(#89529f, #b04e72, #6296bb);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  font-family: $verdana;
  color: white;
  font-weight: 500;
}
header img {
  border-radius: 50%;
}

section {
  display: flex;
  justify-content: space-between;
}
article {
  max-width: 30%;
  border-radius: 20%;
  background-color: $color-2;
}
%main-btn {
  border: 2px solid;
  border-radius: 5px;
  color: $color-2;
  font-weight: 500;
  margin: 0.5em;
  font-family: $verdana;
}
.btn-1 {
  @extend%main-btn;
  background-color: scale-color($color: $color-4, $lightness: 30%);
  border-color: scale-color($color: $color-4, $lightness: 10%);
}
.btn-2 {
  @extend%main-btn;
  background-color: scale-color($color: $color-3, $lightness: 50%);
  border-color: scale-color($color: $color-3, $lightness: 10%);
}
.btn-3 {
  @extend%main-btn;
  background-color: scale-color($color: $color-5, $lightness: 10%);
  border-color: blue;
}
